<div class="panel panel-primary">
	<div class="panel-heading">Analysis DashBoard	</div>	
	<div class="panel-body">
        <div class="col-xs-12">
         <img src="resources/images/anysys2ure.JPG" alt="Event Analysis" style="width:304px;height:228px;">
          <img src="resources/images/piceanalysisre.JPG" alt="Event Analysis" style="width:504px;height:228px;"><p>
           <img src="resources/images/Anlysis4pture.JPG" alt="Event Analysis" style="width:304px;height:228px;">
           <img src="resources/images/Analysis6pture.JPG" alt="Event Analysis" style="width:304px;height:228px;">
  
        </div>
      </div>
    </div>

